.col-md-3 img {
	width: 100%;
	max-width: 250px;
}
.big-picture {
	margin-top: 20px;
	position: relative;
    display: none;
}
.big-picture img {
	width: 100%;
	position: absolute;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
}
.close {
	left: 1040px;
	right: 10px;
	top: 10px;
	position: absolute;
	color: white;
	cursor: pointer;
}